In [6]:
from bs4 import BeautifulSoup

In [7]:
with open("home.html","r") as html_file:
    content = html_file.read()
    print(content)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Courses</title>
</head>
<body>

    <h1>Welcome to my website</h1>
    <div class="main">
        <div class="child">
            <h3>Python Beginners</h3>
            <a>25$</a>
        </div>

        <div class="child">
            <h3>Python Advanced</h3>
            <a>50$</a>
        </div>

        <div class="child">
            <h3>Python Expert</h3>
            <a>100$</a>
        </div>

    </div>
</body>
</html>

In [8]:
with open("home.html","r") as html_file:
    content = html_file.read()
    soup = BeautifulSoup(content,"lxml")
    print(soup.prettify())

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   My Courses
  </title>
 </head>
 <body>
  <h1>
   Welcome to my website
  </h1>
  <div class="main">
   <div class="child">
    <h3>
     Python Beginners
    </h3>
    <a>
     25$
    </a>
   </div>
   <div class="child">
    <h3>
     Python Advanced
    </h3>
    <a>
     50$
    </a>
   </div>
   <div class="child">
    <h3>
     Python Expert
    </h3>
    <a>
     100$
    </a>
   </div>
  </div>
 </body>
</html>

In [10]:
with open("home.html","r") as html_file:
    content = html_file.read()
    soup = BeautifulSoup(content,"lxml")
    tags = soup.find_all("h3")
    print(tags)

[<h3>Python Beginners</h3>, <h3>Python Advanced</h3>, <h3>Python Expert</h3>]

In [11]:
with open("home.html","r") as html_file:
    content = html_file.read()
    soup = BeautifulSoup(content,"lxml")
    tags = soup.find_all("h3")
    amount = soup.find_all("a")
    print(amount)

[<a>25$</a>, <a>50$</a>, <a>100$</a>]

In [19]:
with open("home.html","r") as html_file:
    content = html_file.read()
    soup = BeautifulSoup(content,"lxml")
    tags = soup.find_all("h3")
    amount = soup.find_all("a")
    for i in tags:
        print(i.text)
    for j in amount:
        s=j.text
        s1=s.split("$")[0]
        print(s1)

Python Beginners
Python Advanced
Python Expert
25
50
100

In [20]:
course_name=[]
course_price=[]

In [21]:
with open("home.html","r") as html_file:
    content = html_file.read()
    soup = BeautifulSoup(content,"lxml")
    tags = soup.find_all("h3")
    amount = soup.find_all("a")
    for i in tags:
        course_name.append(i.text)
    for j in amount:
        s=j.text
        s1=s.split("$")[0]
        course_price.append(int(s1))

In [22]:
print(course_name)
print(course_price)

['Python Beginners', 'Python Advanced', 'Python Expert']
[25, 50, 100]

In [23]:
import pandas as pd

In [24]:
data1={}

In [25]:
df1 = pd.DataFrame(data1)

In [26]:
df1

Empty DataFrame
Columns: []
Index: []

In [27]:
df1["CourseName"]=course_name
df1["CoursePrice"]=course_price

In [28]:
df1

         CourseName  CoursePrice
0  Python Beginners           25
1   Python Advanced           50
2     Python Expert          100